.point-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .title {
    color: white;
    font-size: 2.5rem; 
    margin-bottom: 20px;
    text-align: center;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    background-color: transparent;
    color: white;
  }
  
  th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  